doctype
html
  head
    link(rel="stylesheet" href="/css/scoreboard.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
  body
    h1 DARTZ!
    table#score-table
    h2#player

    script(src="https://cdn.firebase.com/js/client/1.1.2/firebase.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/scoreboard.js")


